:root {
  --purple-50: #f4f3ff;
  --purple-100: #ebe9fe;
  --purple-300: #bdb5fd;
  --purple-400: #9c8afb;
  --purple-500: #7c5bf7;
  --purple-950: #260f66;
  --purple-950-opacity: #260f6663;
}

body {
  position: relative;
  min-height: 100dvh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.section__materia form>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.section__materia form .div_horas select {
  width: 50%;
}

select:focus {
  border: 2px solid black;
}

.label__input {
  font-size: .8rem;
  text-align: start;
}

.div_horas {
  display: flex;
  font-size: .8rem;
  gap: .2rem;
}


/*tablas*/
section.schedule-table-container {
  width: 100%;
  overflow: scroll;
  padding: 1rem;
  border: 1px solid red;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: var(--purple-100);
  color: var(--purple-950);
  margin-bottom: 1rem;
  overflow: hidden;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  font-size: 12px;
}

.schedule-table tr.green {
  background-color: #64f660;
  color: black;
}

.schedule-table tr.yellow {
  background-color: #f3ff57;
  color: black;
}

.schedule-table tr.red {
  background-color: #fc6d6d;
  color: black;
}

footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  height: 10ch;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple-50);
}

footer a {
  color: var(--purple-500);
}