:root {
  --blue-50: #f0faff;
  --blue-100: #dff5ff;
  --blue-150: #d0efff;
  --blue-200: #b8edff;
  --blue-300: #75e0ff;
  --blue-400: #33d3fd;
  --blue-500: #09bdee;
  --blue-600: #0099cc;
  --blue-700: #007aa5;
  --blue-800: #046788;
  --blue-900: #0a5570;
  --blue-950: #06364b;
  --gris: #888;
  --gris-claro: #f3efef;
  --gris-oscuro: #333;
  --white: #fff;
  --negro: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

input {
  border: 1px solid rgba(0, 0, 0, 0.233);
  background-color: rgb(245, 245, 245);
}

#root {
  width: 100vw;
  height: 100dvh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--white);
  display: flex;
}


/************THREAD COPY**********************/

.container__thread {
  position: relative;
  opacity: 0;
  animation: slideIn 0.3s forwards;
}

.container__thread:hover::before {
  content: "Copiar al portapapeles";
  display: block;
  position: absolute;
  z-index: 123456;
  bottom: 130%;
  left: 16px;
  background-color: var(--gris-oscuro);
  color: var(--white);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.container__thread:focus::before {
  content: "Copiado con exito";
  display: block;
  color: var(--white);
  background-color: rgb(0, 128, 0);
  width: fit-content;
  position: absolute;
  z-index: 123456789;
  bottom: 130%;
  left: 16px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  animation: hideLabel 3s forwards ease-out;
}

@keyframes hideLabel {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    bottom: 130%;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}

.container__thread p {
  cursor: pointer;
  font-size: .8rem;
  color: var(--gris);
  padding-left: 16px;
}

.container__thread p:hover {
  color: var(--negro);
}

.container__thread:hover .etiqueta {
  display: block;
  opacity: 0;
  animation: slideIn 0.3s forwards;
}

.confirmacion {
  display: none;
  color: var(--white);
  background-color: rgb(0, 128, 0);
  width: fit-content;
  position: absolute;
  z-index: 123456789;
  bottom: 130%;
  left: 16px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

span.active {
  display: block;
  opacity: 0;
  animation: slideIn 0.3s forwards;
}

canvas {
  transform: scale(85%);
  margin: 0;
  box-shadow: 0 0 10px #00000065;
  border-radius: 8px;
  padding-bottom: 20px;
}

/*+++++++++++++++++++++++++++upload files++++++++++++++++++++++++*/
.upload section {
  padding: 10px;
}

.upload section h2 {
  color: var(--blue-900);
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.upload section p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(204, 0, 0);
}

.upload section form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-100);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.upload input {
  padding: 10px;
  border: none;
  background-color: transparent;
}

.upload input:focus {
  outline: none;
  border: none;
}

.upload input[type="submit"] {
  border-radius: 8px;
  color: var(--white);
  background-color: var(--blue-900);
  cursor: pointer;
}

.upload input[type="submit"]:active {
  transform: scale(95%);
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th {
  background-color: var(--blue-900);
  color: var(--white);
  padding: 10px;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--blue-900);
}

/*+++++++++++++++++logo++++++++++++++++++++*/
#logoInit {
  position: absolute;
  bottom: 300%;
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
}

#circles {
  stroke: #00c2ff;
  fill: transparent;
  stroke-width: 0.5%;
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  fill: #00c2ff;
}

#moons {
  stroke: #FFFFFF;
  fill: transparent;
  stroke-width: 0.5%;
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  fill: #FFFFFF;
}